<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexus AI - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>

<body>
    <h1 class="website-title">Welcome to Nexus AI</h1>
    <br>
    
    <div class="content" style="margin-top: 50px;">
        <p class="custom-paragraph">Ever wonder what would happen if Iron Man didn't die? If Angier's wife didn't die in The Prestige? If Achilles' mother dipped him whole into the Styx?</p>
        <p class="custom-paragraph">We've all wondered what things could've been like when reading a book, watching a movie, etc.</p>
        <p class="custom-paragraph">Well, you can stop wondering! With Nexus AI, the power of the mutliverse is in your hands</p>
        <p class="custom-paragraph">Nexus AI serves as your guide throgh vast new story paths. Follow your chocies and ponder the question....</p>
        <p class="custom-paragraph" style="font-size: 30px;">What If...?</p>

        <button class="btn">Start Exploring</button>
    
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>
