<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexus AI - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/story_sel.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <style>
        body {
            background-image: url("../static/images/stories/{{ bkg_path }}.jpg");
        }
    </style>
</head>
<body>
    <script>
        // Define a global JavaScript variable and assign the value of the parameter
        var pdf_path = "{{ pdf_path }}";
    </script>
    <h1 class="website-title">Currently Exploring : {{ title }}</h1>
    <div class="carousel">
        <div class="carousel-texts">
            {% for page in pages %}
            <div class="text-container" data-page="{{ page }}">
                <p>{{ page }}</p>
            </div>
            {% endfor %}
        </div>
        <button class="prev">❮</button>
        <button class="next">❯</button>
    </div>

    <script src="{{ url_for('static', filename='js/story_sel.js') }}"></script>

</body>
</html>
